---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.svelte';
import LinkInput from '../components/LinkInput.svelte';
import Playlists from '../components/Playlists.svelte';
---

<BaseLayout>
    <Header client:load logo={true}/>
    <div class="container-fluid">
        <div class="text-center m-3 mt-5 fs-5">
            <p>Dive into your favorite playlists without interruptions or distractions from YouTube's cluttered interface. </p>
            <p>Simply paste your playlist URL and immerse yourself in uninterrupted entertainment.</p>
          </div>
        
          <div class="">
            <LinkInput client:load/>
          </div>
          <Playlists client:load/>
    </div>
</BaseLayout>

<style scoped>
    :root{
        --bs-sidebar-width: 0px;
    }
</style>
