---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.svelte';
import LinkInput from '../components/LinkInput.svelte';
import Playlists from '../components/Playlists.svelte';
import Toast from '../components/Toast.svelte';
---

<BaseLayout>
    <Header client:load logo={true}/>
    <div class="container-fluid">
        <div class="text-center m-3 mt-5 fs-5">
            <p>Escape YouTube's distractions and immerse yourself in your favorite playlists hassle-free.</p>
            <p>Just paste your playlist URL and enjoy uninterrupted entertainment tailored to your focus, learning, or relaxation needs</p>
          </div>
        
          <div class="">
            <LinkInput client:load/>
          </div>
          <Playlists client:load/>
    </div>
    <Toast client:load/>
</BaseLayout>

<style scoped>
    :root{
        --bs-sidebar-width: 0px;
    }
</style>
